.language_section {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.select-wrapper {
    position: relative;
    width: 100%;
}

#language_select {
    width: 100%;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-main); 
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    transition: 0.2s;
}

#language_select:focus {
    border-color: var(--color-text-grey);
}

#language_select option {
    background-color: var(--color-bg-main);
    color: var(--color-white);
}

.custom_select_arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0.7;
}

#language_select {
    transition: border-color 0.2s ease; /
}

#language_select:hover {
    border-color: var(--color-text-grey);
}

#language_select:focus {
    border-color: var(--color-text-grey);
}