.side-bar {
    width: 280px;
    flex-shrink: 0;
    height: 100%;
    z-index: 100;
}

.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: var(--color-bg-menu);
    overflow-y: auto;
    margin: 0; 
}

.menu_logo {
padding: 24px 24px;
    border-bottom: 1px solid var(--color-border);
    display: flex;           
    justify-content: center; 
    align-items: center;     
}

.menu_inbox {
    padding: 16px 0;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 12px;
}

.menu_list, .menu_admin {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu_admin {
    margin-top: auto;
    margin-bottom: 12px;
}

.menu_item, .admin_item {
    list-style: none;
    border-radius: 12px;
    transition: background-color 0.2s ease;
}

.menu_item:hover, 
.admin_item:hover, 
.admin_item.active {
    background-color: var(--color-bg-input);
}

.menu_link, .admin_link {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--color-text-grey);
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s;
}

.menu_item:hover .menu_link, 
.admin_item:hover .admin_link,
.admin_item.active .admin_link {
    color: var(--color-white);
}

.arrow {
    margin-left: auto;
    width: 24px; height: 24px;
}