.wrapper {
    display: flex;
    height: 100%;

}

.border {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 1040px;
    padding: 16px;
    font-size: 20px;
    border-radius: 16px;
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    background-color: var(--color-bg-card);
}

.border:first-child {
    margin-top: 0;
}

.block_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 0;
}

.side-bar {
    width: 280px;
    flex-shrink: 0;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
}

.settings-container {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 75px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 24px;
    background-color: var(--color-bg-main);
    min-height: auto;
}

.Settings_title {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;

    background-color: var(--color-bg-main);
    text-shadow: 2px 2px var(--color-text-shadow);
    font-size: 28px;
    font-weight: 700;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 24px;
    list-style-type: none;
    text-decoration: none;
}

.settings-section {
    max-width: 1040px;
}

.settings-section.border {
    padding: 16px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    margin: 0 24px 24px 24px;
}

.settings-section:first-child.border {
    margin-top: 0;
}

.block_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    margin-left: 24px;
}